:root {
  --blue: #59bab7;
  --grey: #f3efe0;
  --border_color: rgb(242, 239, 224);
  --black: rgb(34, 34, 34);
  --blue2: rgb(34, 163, 159);
  --footer: rgb(67, 66, 66);
  --contacts: rgb(180, 179, 179);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/*-----------------------------------------                    menu styling---------------------------------------------------------------------------------*/

@media screen and (min-width:589px) {
  .hamburger {
    display: none;
  }
}

@keyframes menu_check_mark {
  from {
    transform: translateY(3px);
  }
  to {
    transform: translateY(-3px);
  }
}

@keyframes menu {
  from {
    background-color: var(--black);
  }
  to {
    background-color: var(--blue);
  }
}

ul {
  list-style-type: none;
  width: 100px;
  position: fixed;
  right: 10px;
  transform: translateY(-150vh);
  overflow: hidden;
  padding-left: 0;
}

ul li a {
  display: block;
  justify-content: center;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

ul li {
  height: 100px;
  width: 100px;
  border: 2px solid var(--grey);
  text-align: center;
  background-color: var(--black);
  text-transform: uppercase;
}

a>img {
  filter: invert(100%) sepia(87%) saturate(2%) hue-rotate(270deg) brightness(108%) contrast(101%);
  animation-name: menu_check_mark;
  animation-iteration-count: infinite;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

ul li:hover>a {
  color: var(--blue);
}

.profile:hover~ul li:nth-child(2) {
  background-color: var(--blue);
}

.projects:hover~ul li:nth-child(3) {
  background-color: var(--blue);
}

.contacts:hover~ul li:nth-child(4) {
  background-color: var(--blue);
}

/*-----------------------------------------                    menu styling---------------------------------------------------------------------------------*/

/*----------------------------------------------------HAMBURGER----------------------------------------------------------------------------------------------*/

/*----------------------------------------------------GAMBURGER----------------------------------------------------------------------------------------------*/

/*----------------------------------------------------PARALAX----------------------------------------------------------------------------------------------*/

/*

html {
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  color: #fff;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: sans-serif;
}
header {
  box-sizing: border-box;
  min-height: 100vh;
  padding: 30vw 0 5vw;
  position: relative;
  transform-style: inherit;
  width: 100vw;
}
header h1 {
  margin-top: -100px;
}
header,
header::before {
  background: 50% 50% / cover;
}
header::before {
  bottom: 0;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: block;

  background-image: url(assets/images/comp.jpg);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}
header * {
}*/

/*----------------------------------------------------PARALAX----------------------------------------------------------------------------------------------*/

/*----------------------------------------------------PROFILE----------------------------------------------------------------------------------------------*/

.profile img {
  height: 200px;
  border: 10px solid var(--border_color);
  border-radius: 50%;
}

.stars {
  color: var(--blue);
  font-weight: bold;
}

/*----------------------------------------------------PROFILE----------------------------------------------------------------------------------------------*/

/*----------------------------------------------------PROJECTS----------------------------------------------------------------------------------------------*/

.project_info_icon img {
  height: 30px;
  filter: invert(100%) sepia(87%) saturate(2%) hue-rotate(270deg) brightness(108%) contrast(101%);
  margin: 2px 2px 2px 2px;
}

.project_info_icon {
  height: 40px;
  width: 40px;
  background-color: var(--blue);
  z-index: 200;
}

.project {
  position: relative;
  background-image: url(../assets/images/project_screen_1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  border: 4px solid var(--grey);
  border-radius: 2%;
}

.project_description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  z-index: 200;
}

.project_description p {
  width: 100%;
  margin: 0;
  z-index: 200;
}

/*----------------------------------------------------PROJECTS----------------------------------------------------------------------------------------------*/

/* +++++++++++++++media --------------
-----------------------------*/

@media screen and (max-width: 589px) {
  .hamburger {
    width: 40px;
    height: 40px;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  label {
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
  }
  label span {
    background: var(--grey);
    height: 2px;
    margin: 4px 0;
    transition: .4s ease-in-out;
  }
  span {
    width: 70%;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotateZ(45deg) translate(6px, 7px);
    transition: .4s ease-in-out;
    margin-left: 0;
  }
  input[type="checkbox"]:checked~span:nth-of-type(2) {
    transform-origin: top;
    transform: rotateZ(-45deg) translate(-1px, -1px);
    transition: .4s ease-in-out;
    margin-left: 0;
  }
  input[type="checkbox"]:checked~span:nth-of-type(3) {
    opacity: 0;
  }
  ul {
    position: fixed;
    overflow: hidden;
    top: 0;
    display: flex;
    margin: 0;
    height: 40px;
    justify-content: right;
    opacity: 0;
  }
  input[type="checkbox"]:checked~ul {
    opacity: 1;
  }
  .hamburger:focus {
    opacity: 1;
  }
  ul li {
    display: flex;
    height: 40px;
    width: 70px;
    margin: 2px 2px 2px;
    background-color: var(--black);
    text-transform: uppercase;
    justify-content: space-around;
  }
  ul li:nth-of-type(1) {
    display: none;
  }
  .hamburger {
    z-index: 200;
  }
  ul li {
    font-size: 12px;
  }
}

/* +++++++++++++++media --------------
-----------------------------*/