                                     :root {
                                        --blue: #59bab7;
                                        --grey: #f3efe0;
                                        --border_color: rgb(242, 239, 224);
                                        --black: rgb(34, 34, 34);
                                        --blue2: rgb(34, 163, 159);
                                        --footer: rgb(67, 66, 66);
                                        --contacts: rgb(180, 179, 179);
                                    }
                                    
                                    html {
                                        scroll-behavior: smooth;
                                    }
                                    
                                    body {
                                        margin: 8px;
                                    }
                                    /*-----------------------------------------                    menu styling---------------------------------------------------------------------------------*/
                                    /* .projects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }
    h2 {
        grid-column: span 2;
        justify-self: center;
    }
    .project:nth-of-type(1) {
        justify-self: end;
    }
    .project:nth-of-type(3) {
        justify-self: end;
    }*/
                                    /*-----------------------------------------                    menu styling---------------------------------------------------------------------------------*/
                                    /*----------------------------------------------------PARALAX----------------------------------------------------------------------------------------------*/
                                    
                                    body,
                                    html {
                                        height: 100%;
                                    }
                                    
                                    .parallax {
                                        background-image: url("../assets/images/comp.jpg");
                                        height: 40%;
                                        width: calc(100%-150px);
                                        background-attachment: fixed;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                    }
                                    /*----------------------------------------------------PARALAX----------------------------------------------------------------------------------------------*/
                                    /*----------------------------------------------------PROFILE----------------------------------------------------------------------------------------------*/
                                    
                                    .profile {
                                        background: transparent;
                                        display: flex;
                                        flex-direction: column;
                                    }
                                    
                                    .profile img {
                                        height: 200px;
                                        border: 10px solid var(--border_color);
                                        border-radius: 50%;
                                        background-color: transparent;
                                    }
                                    
                                    .stars {
                                        color: var(--blue);
                                        font-weight: bold;
                                    }
                                    
                                    .hamburger {
                                        align-self: flex-end;
                                    }
                                    /*----------------------------------------------------PROFILE----------------------------------------------------------------------------------------------*/
                                    /*----------------------------------------------------PROJECTS----------------------------------------------------------------------------------------------*/
                                    
                                    @keyframes project {
                                        0% {
                                            opacity: 0;
                                        }
                                        to {
                                            opacity: 0.8;
                                            animation-delay: 800ms;
                                        }
                                    }
                                    
                                    .project_description img {
                                        height: 30px;
                                        filter: invert(100%) sepia(87%) saturate(2%) hue-rotate(270deg) brightness(108%) contrast(101%);
                                        margin: 2px 2px 2px 2px;
                                        transition: 500ms ease-in-out;
                                        z-index: 2;
                                    }
                                    
                                    .project {
                                        position: relative;
                                        background-image: url(../assets/images/project_screen_1.jpg);
                                        background-repeat: no-repeat;
                                        width: 300px;
                                        height: 300px;
                                        border-radius: 2%;
                                        display: flex;
                                        flex-direction: row;
                                        align-content: center;
                                        cursor: pointer;
                                    }
                                    
                                    .project_description {
                                        width: 0px;
                                        height: 0px;
                                        background-color: var(--blue);
                                        opacity: 0.81;
                                        margin: 0;
                                        position: absolute;
                                        margin-left: 260px;
                                        z-index: 1;
                                        border-radius: 2%;
                                    }
                                    
                                    .project a {
                                        width: 60%;
                                        height: 60%;
                                        margin: 0;
                                        opacity: 0;
                                        z-index: 21;
                                        text-decoration: none;
                                        font-size: 30px;
                                        padding: 20% 20% 20% 20%;
                                        color: white;
                                    }
                                    
                                    .project:hover>.project_description {
                                        height: 300px;
                                        width: 300px;
                                        transform: translateX(-260px);
                                        animation-name: project;
                                        animation-duration: 300ms;
                                    }
                                    
                                    .project:hover>a {
                                        opacity: 1;
                                    }
                                    /*----------------------------------------------------PROJECTS----------------------------------------------------------------------------------------------*/
                                    /* +++++++++++++++media --------------
         



588px                                                           --**************************   max-width: 768px  -----------------------------*/
                                    
                                    @media screen and (max-width: 768px) {
                                        .projects {
                                            margin-left: 10vw;
                                            margin-right: 10vw;
                                            display: grid;
                                            max-width: 80vw;
                                            grid-template-columns: 1fr;
                                            grid-gap: 30px;
                                            justify-items: center;
                                        }
                                    }
                                    
                                    @media screen and (max-width: 425px) {
                                        .hamburger {
                                            position: fixed;
                                            overflow: hidden;
                                            top: 0;
                                            left: 0;
                                            width: 40px;
                                            height: 40px;
                                            background-color: var(--black);
                                        }
                                        label {
                                            display: flex;
                                            flex-direction: column;
                                            width: 40px;
                                            cursor: pointer;
                                            padding: 5px 5px 5px 5px;
                                        }
                                        label span {
                                            background: var(--grey);
                                            height: 2px;
                                            margin: 4px 0;
                                            transition: .4s ease-in-out;
                                        }
                                        span {
                                            width: 70%;
                                        }
                                        input[type="checkbox"] {
                                            display: none;
                                        }
                                        input[type="checkbox"]:checked~span:nth-of-type(1) {
                                            transform-origin: bottom;
                                            transform: rotateZ(45deg) translate(6px, 7px);
                                            transition: .4s ease-in-out;
                                            margin-left: 0;
                                        }
                                        input[type="checkbox"]:checked~span:nth-of-type(2) {
                                            transform-origin: top;
                                            transform: rotateZ(-45deg) translate(-1px, -1px);
                                            transition: .4s ease-in-out;
                                            margin-left: 0;
                                        }
                                        input[type="checkbox"]:checked~span:nth-of-type(3) {
                                            opacity: 0;
                                        }
                                        .menu {
                                            position: fixed;
                                            overflow: hidden;
                                            top: 0;
                                            right: 0;
                                            display: flex;
                                            margin: 0;
                                            flex-direction: row;
                                            margin-left: 40px;
                                            height: 40px;
                                            justify-content: right;
                                            opacity: 1;
                                        }
                                        input[type="checkbox"]:checked~.menu {
                                            opacity: 0;
                                        }
                                        .hamburger:focus {
                                            opacity: 0;
                                        }
                                        .menu div {
                                            display: flex;
                                            height: 40px;
                                            width: 70px;
                                            margin: 2px 2px 2px;
                                            background-color: var(--black);
                                            text-transform: uppercase;
                                            justify-content: space-around;
                                        }
                                        .menu-1 {
                                            display: none;
                                        }
                                        .hamburger {
                                            z-index: 200;
                                        }
                                        .menu div {
                                            font-size: 12px;
                                            display: flex;
                                            text-align: center;
                                        }
                                        .menu div a {
                                            display: block;
                                            text-decoration: none;
                                            width: 100%;
                                            height: 100%;
                                        }
                                        .menu div {
                                            height: 100%;
                                            width: 70px;
                                            text-align: center;
                                            background-color: var(--black);
                                            text-transform: uppercase;
                                        }
                                        .menu div:hover>a {
                                            color: var(--blue);
                                        }
                                    }
                                    /*************************************************************************************************************************************************************************************/
                                    /* +++++++++++++++media --/* +++++++++++++++min-width:426px
                                                                                                                    -----------------------------*/
                                    
                                    @media screen and (min-width:426px) and (max-width: 768px) {
                                        .hamburger {
                                            display: none;
                                        }
                                        @keyframes menu_check_mark {
                                            from {
                                                transform: translateY(3px);
                                            }
                                            to {
                                                transform: translateY(-3px);
                                            }
                                        }
                                        @keyframes menu {
                                            from {
                                                background-color: var(--black);
                                            }
                                            to {
                                                background-color: var(--blue);
                                            }
                                        }
                                        .menu-1 {
                                            list-style-type: none;
                                            width: 100px;
                                            position: fixed;
                                            right: 10px;
                                            top: 30%;
                                            overflow: hidden;
                                            padding-left: 0;
                                            z-index: 100;
                                        }
                                        .menu-1 div a {
                                            display: block;
                                            justify-content: center;
                                            color: white;
                                            text-decoration: none;
                                            height: 100%;
                                            width: 100%;
                                        }
                                        .menu-1 div {
                                            height: 100px;
                                            width: 100px;
                                            border: 2px solid var(--grey);
                                            text-align: center;
                                            background-color: var(--black);
                                            text-transform: uppercase;
                                        }
                                        a>img {
                                            filter: invert(100%) sepia(87%) saturate(2%) hue-rotate(270deg) brightness(108%) contrast(101%);
                                            animation-name: menu_check_mark;
                                            animation-iteration-count: infinite;
                                            animation-duration: 600ms;
                                            animation-timing-function: ease-in-out;
                                            animation-direction: alternate;
                                        }
                                        .menu-1:hover>a {
                                            color: var(--blue);
                                        }
                                        .profile:hover~.menu-1:nth-child(2) {
                                            background-color: var(--blue);
                                        }
                                        .projects:hover~.menu-1:nth-child(3) {
                                            background-color: var(--blue);
                                        }
                                        .contacts:hover~.menu-1:nth-child(4) {
                                            background-color: var(--blue);
                                        }
                                    }